.service-area {
  position: relative;
  z-index: 99;
}
@media (min-width: 1200px) {
  .service-area {
    padding: 130px 55px;
  }
}
.service-item {
  position: relative;
  z-index: 1;
  margin-top: 30px;
  max-height: 428px;
}
@media (min-width: 992px) {
  .service-item {
    margin-top: 50px;
  }
}
.service-item .service-img {
  overflow: hidden;
}
.service-item .service-img img {
  width: 100%;
  transition: all 0.3s ease-in-out;
}
.service-item .service-content {
  position: absolute;
  bottom: 0;
  padding: 30px;
}
@media (min-width: 1367px) {
  .service-item .service-content {
    padding: 50px;
  }
}
.service-item .service-content span::before {
  font-size: 50px;
}
.service-item .service-content h3 {
  font-size: 30px;
  padding-top: 35px;
}
.service-item .service-content a {
  font-size: 14px;
  font-weight: 700;
  margin-top: 15px;
  text-transform: uppercase;
  display: block;
  position: relative;
  z-index: 11;
  transition: 0.3s ease-out;
}
.service-item .service-content a:hover {
  letter-spacing: 2px;
}
.service-item .service-number span {
  font-size: 200px;
  font-family: "Teko", sans-serif;
  font-weight: 600;
  color: #fff;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #8f8784;
  font-family: "Teko", sans-serif;
  position: absolute;
  top: 77%;
  right: 22px;
  opacity: 0.4;
  transform: translateY(-70%);
  z-index: 1;
}
@media (min-width: 1367px) {
  .service-item .service-number span {
    right: 42px;
  }
}
.service-item:hover img {
  transform: scale(1.1);
}

.service-area-2 {
  padding: 50px 0;
}
@media (min-width: 992px) {
  .service-area-2 {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media (min-width: 1200px) {
  .service-area-2 {
    padding: 130px 0;
  }
}

.service-item-2 {
  position: relative;
  transition: 0.3s ease-out;
  overflow: hidden;
}
.service-item-2::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-out;
  z-index: 1;
}
.service-item-2 .service-content-2 {
  bottom: 45%;
  transform: translateY(50%);
  transition: 0.3s ease-out;
  z-index: 555;
}
.service-item-2 .service-content-2 p {
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-out;
}
.service-item-2 .service-content-2 a {
  position: relative;
  bottom: 56px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  background-color: #fff;
  margin: auto;
  transition: 0.3s ease-out;
  color: #333333;
  font-size: 20px;
}
.service-item-2 .service-content-2:hover {
  bottom: 50%;
}
.service-item-2 .service-content-2:hover p {
  visibility: visible;
  opacity: 1;
  padding-bottom: 30px;
}
.service-item-2 .service-content-2:hover a {
  background-color: #333333;
  color: #fff;
  bottom: 0;
}
.service-item-2:hover::before {
  background-color: #e63a34;
}

.service-icon {
  font-size: 50px;
}
